In [6]:
# To read any file (Example : csv)

import pandas as pd 

# To work on operating system related data like copy, list directory
import os

In [62]:
# package/libraries used for visualization

import matplotlib.pyplot as pp
import seaborn as sns
import numpy
%matplotlib inline

In [ ]:
%matplotlib inline

In [12]:
os.listdir()
os.path

In [14]:
%ls

 Volume in drive C is OS
 Volume Serial Number is 369B-9039

 Directory of C:\Users\gupta\PythonCode

06/02/2021  01:29 PM    <DIR>          .
06/02/2021  01:29 PM    <DIR>          ..
06/02/2021  12:55 PM    <DIR>          .ipynb_checkpoints
05/27/2021  06:27 PM            14,649 basics.ipynb
05/27/2021  07:33 PM             2,713 Excerise_1.ipynb
05/27/2021  09:21 PM             2,915 Intro to Python I solutions.ipynb
05/27/2021  04:31 PM            29,516 Intro to Python I.ipynb
05/27/2021  09:24 PM            90,587 Titanic_full.csv
05/27/2021  04:34 PM             1,431 Untitled.ipynb
05/27/2021  06:52 PM             1,629 Untitled1.ipynb
05/27/2021  09:24 PM               555 Untitled2.ipynb
06/02/2021  01:29 PM             1,570 Untitled3.ipynb
05/27/2021  04:14 PM            81,350 Web scraping...scrape, scrape and find.ipynb
05/27/2021  04:20 PM            77,890 webScraping.ipynb
              11 File(s)        304,805 bytes
               3 Dir(s)  67,888,545,792 bytes free

In [37]:
# Read csv file from any path
#titanic_df = pd.read_csv()
titanic_df = pd.read_csv("C:\\Users\\gupta\\PythonCode\\Titanic_full.csv")
print(var)

      PassengerId  Survived  Pclass  \
0               1         0       3
1               2         1       1
2               3         1       3
3               4         1       1
4               5         0       3
...           ...       ...     ...
1304         1305         0       3
1305         1306         1       1
1306         1307         0       3
1307         1308         1       3
1308         1309         1       3

                                                   Name     Sex   Age  SibSp  \
0                               Braund, Mr. Owen Harris    male  22.0      1
1     Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                                Heikkinen, Miss. Laina  female  26.0      0
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                              Allen, Mr. William Henry    male  35.0      0
...                                                 ...     ...   ...    ...
1304                                 Spector, Mr. Woolf    male   NaN      0
1305                       Oliva y Ocana, Dona. Fermina  female  39.0      0
1306                       Saether, Mr. Simon Sivertsen    male  38.5      0
1307                                Ware, Mr. Frederick    male   NaN      0
1308                           Peter, Master. Michael J    male   NaN      1

      Parch              Ticket      Fare Cabin Embarked
0         0           A/5 21171    7.2500   NaN        S
1         0            PC 17599   71.2833   C85        C
2         0    STON/O2. 3101282    7.9250   NaN        S
3         0              113803   53.1000  C123        S
4         0              373450    8.0500   NaN        S
...     ...                 ...       ...   ...      ...
1304      0           A.5. 3236    8.0500   NaN        S
1305      0            PC 17758  108.9000  C105        C
1306      0  SOTON/O.Q. 3101262    7.2500   NaN        S
1307      0              359309    8.0500   NaN        S
1308      1                2668   22.3583   NaN        C

[1309 rows x 12 columns]

In [24]:
# dimension of the file
var.count()
var.shape

(1309, 12)

In [25]:
# to get starting rows of the file
titanic_df.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [26]:
# to get rows of the file from bottom
titanic_df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1304,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,1,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,1,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [27]:
# to get all rows and cols

titanic_df[1:]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,1,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,1,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [60]:
# Number of males boarded in the ship

get_male = titanic_df[titanic_df["Sex"]== "male"]
print(get_data)

      PassengerId  Survived  Pclass                            Name   Sex  \
0               1         0       3         Braund, Mr. Owen Harris  male
4               5         0       3        Allen, Mr. William Henry  male
5               6         0       3                Moran, Mr. James  male
6               7         0       1         McCarthy, Mr. Timothy J  male
7               8         0       3  Palsson, Master. Gosta Leonard  male
...           ...       ...     ...                             ...   ...
1298         1299         1       1      Widener, Mr. George Dunton  male
1304         1305         0       3              Spector, Mr. Woolf  male
1306         1307         0       3    Saether, Mr. Simon Sivertsen  male
1307         1308         1       3             Ware, Mr. Frederick  male
1308         1309         1       3        Peter, Master. Michael J  male

       Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0     22.0      1      0           A/5 21171    7.2500   NaN        S
4     35.0      0      0              373450    8.0500   NaN        S
5      NaN      0      0              330877    8.4583   NaN        Q
6     54.0      0      0               17463   51.8625   E46        S
7      2.0      3      1              349909   21.0750   NaN        S
...    ...    ...    ...                 ...       ...   ...      ...
1298  50.0      1      1              113503  211.5000   C80        C
1304   NaN      0      0           A.5. 3236    8.0500   NaN        S
1306  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
1307   NaN      0      0              359309    8.0500   NaN        S
1308   NaN      1      1                2668   22.3583   NaN        C

[843 rows x 12 columns]

In [32]:
titanic_df["Sex"].unique()

array(['male', 'female'], dtype=object)

In [38]:
titanic_df.iloc[1:3, 5:9]

    Age  SibSp  Parch            Ticket
1  38.0      1      0          PC 17599
2  26.0      0      0  STON/O2. 3101282

In [39]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [46]:
#  count of male and female boarded on the ship

get_sex = titanic_df["Sex"].value_counts()
print(get_sex)

male      843
female    466
Name: Sex, dtype: int64

In [73]:
get_sex = titanic_df.Sex.value_counts()
print(get_sex)

male      843
female    466
Name: Sex, dtype: int64

In [95]:
pp.figure(figsize=(12,8))
sns.set_theme(style='darkgrid')
sns.countplot(x=titanic_df.Sex, hue = titanic_df.Survived, palette='Set1')
pp.ylabel("Number of people")


for i in titanic_df.Sex:
    pp.text(i, (titanic_df.Sex == i).sum(), str((titanic_df.Sex == i).sum()))

ConversionError: Failed to convert value(s) to axis units: 'male'